<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.data.title %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0">

	<link rel="icon" sizes="16x16" href="assets/icons/favicon_16x16.png">
	<link rel="icon" sizes="32x32" href="assets/icons/favicon_32x32.png">
</head>
<body>
	<a href="<%= htmlWebpackPlugin.options.packageConfig.repository.url %>">
		<img
			style="position: fixed; top: 0; left: 0; border: 0;"
			src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67"
			alt="Fork me on GitHub"
			data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"
		/>
	</a>
	<div class="container">
		<h1><%= htmlWebpackPlugin.options.data.title %></h1>

		<h2>Test assets loading</h2>

		<div id="game"><h3>Loading...</h3></div>
	</div>

	<div class="footer">
		Build version: <%= htmlWebpackPlugin.options.packageConfig.version %>
	</div>

	<script src="phaser.min.js"></script>
</body>
</html>
