/* this file is imported from conf/styles configuration */
/* default setup according to stylesheet position relative to application src folder */
$srcRoot: '../../' !default;

.a {
	width: 64px;
	height: 64px;
	/* Use this kind of path interpolation for getting image preview in Visual Code */
	background: transparent url(#{$srcRoot + 'assets/images/a.png'}) no-repeat;
	background-size: 64px 64px;
}
