/* this file is imported from other stylesheet */

$assetRoot: '../../' !default;

.b {
	width: 64px;
	height: 64px;
	/* Use this kind of path interpolation for getting image preview */
	background: transparent url(#{$assetRoot + 'assets/images/b.png'}) no-repeat;
	background-size: 64px 64px;
}
