{
	"compact": false,
	"presets": [
		["@babel/preset-env", {
			"targets": {
				"browsers": ["last 2 Chrome versions"]
			},
			"loose": true,
			"useBuiltIns": "usage",
			"modules": false,
			"debug": true,
			"spec": true
		}],
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"env": {
		"test": {
			"presets": [
				["@babel/preset-env", {
					"targets": {
						"esmodules": true
					},
					"loose": true,
					"modules": false
				}],
				"@babel/preset-react",
				"@babel/preset-typescript"
			]
		}
	}
}
