{
	"compact": false,
	"presets": [
		["@babel/preset-env", {
			"targets": {
				"browsers": ["last 2 versions", "safari >= 7"]
			},
			"loose": true,
			"modules": false,
			"debug": true,
			"spec": false
		}],
		"@babel/preset-react",
		"@babel/preset-typescript"
	]
}
