<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.data.title %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0">

	<link rel="icon" sizes="16x16" href="assets/icons/favicon_16x16.png">
	<link rel="icon" sizes="32x32" href="assets/icons/favicon_32x32.png">
</head>
<body>
	<a href="<%= htmlWebpackPlugin.options.packageConfig.repository.url %>">
		<img
			style="position: fixed; top: 0; left: 0; border: 0;"
			src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67"
			alt="Fork me on GitHub"
			data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"
		/>
	</a>
	<div class="container">
		<h1><%= htmlWebpackPlugin.options.data.title %></h1>

		<h2>Test assets loading</h2>
		<div class="box">
			<code>
				/src/styles/banners/a.scss<br/>
				url(#{$srcRoot + 'assets/images/a.png'})
			</code>
			<div class="a"></div>
		</div>

		<div class="box">
			<code>
				/src/styles/styles.scss<br/>
				@import /src/styles/banners/b.scss<br/>
				url(#{$srcRoot + 'assets/images/b.png'})
			</code>
			<div class="b"></div>
		</div>

		<div class="box">

			<code>
				src/index.html<br/>
				&lt;img src="assets/images/c.png"/&gt;
			</code>
			<img src="assets/images/c.png"/><br/>
		</div>

		<h2 translate>Test fonts loading</h2>

		<div class="box">
			<p translate>Bootstrap icons from fonts located in node_modules. In development mode if it weren't called before this requires running:</p>
			<code>
				npm run build:dev
			</code>
			<%
				[
					'star',
					'star-empty',
					'heart',
					'heart-empty',
					'leaf',
					'tree-conifer',
					'tree-deciduous',
					'picture',
					'film',
					'pawn',
					'knight',
					'bishop',
					'tower',
					'king',
					'queen',
					'screenshot',
					'phone',
					'piggy-bank',
				].forEach(icon => {
			%>
				<div class="glyphicon glyphicon-<%= icon %>"></div>
			<% }) %>
		</div>

		<div class="box">
			<p>Font awesome icons from fonts located in node_modules.</p>
			<%
				[
					'asterisk',
					'car',
					'cc-paypal',
					'cc-visa',
					'cc-stripe',
					'arrow-left',
					'arrow-up',
					'arrow-right',
					'arrow-down',
					'arrow-circle-left',
					'arrow-circle-up',
					'arrow-circle-right',
					'arrow-circle-down',
					'cog',
					'beer',
					'bomb',
					'bolt',
				].forEach(icon => {
			%>
				<div class="fa fa-<%= icon %>"></div>
			<% }) %>
		</div>

		<h2>Test svg loading</h2>
		<div class="box">
			<code>&lt;img src="assets/svg/sign/sign-00.svg"/&gt;</code>
			<img src="assets/svg/sign/sign-00.svg"/>
		</div>

		<h2>Test markdown loading</h2>

		<div class="box">
			<p>You can load parts of website from markdown documents.</p>
			<code>&lt;%= require('../docs/features.md') %&gt;</code>
			<%= require('../docs/features.md') %>
		</div>

		<h1>Test javascript configuration</h1>
		<div id="app"><h3>React didn't ran</h3></div>
	</div>
</body>
</html>
