@import 'variables';

$timer-color: red !default;

:root {
	--timerColor: $timer-color;
}

.timer {
	display: block;
	padding: 10px;
	border: 1px dashed var(--timerColor);
	background-color: var(--timerColor);
	background: linear-gradient(to left, var(--timerColor), rgba(black, .5));

	&::after {
		content: "";
		display: block;
		width: 64px;
		height: 64px;
		background: transparent url('/assets/images/e.png') no-repeat;
		background-size: 64px 64px;
	}
}
