@import 'variables';

$timerColor: red !default;

.timer {
	display: block;
	padding: 10px;
	border: 1px dashed $timerColor;
	background-color: $timerColor;
	background: linear-gradient(to left, css-variable-with-alpha($timerColor, 50), rgba(black, .5));

	&::after {
		content: "";
		display: block;
		width: 64px;
		height: 64px;
		background: transparent url('/assets/images/e.png') no-repeat;
		background-size: 64px 64px;
	}
}
