/* This script doesn't really on $srcRoot */
@import 'bootstrap';
/* For setting up assets paths for imported style sheets */
$srcRoot: '../' !default;
$codeBgColor: black;
/* We import any other stylesheet that uses $srcRoot after setting up $srcRoot */
@import 'banners/b';

:root {
	--timerColor: #fff; // this one will be overriden by same definition in app/component/timer.scss
}

body {
	/* Use this kind of path interpolation for getting image preview in Visual Code */
	background: #444 url(#{$srcRoot + 'assets/background/bg.png'}) repeat;
	background-size: 256px;
	image-rendering: pixelated;
	color: #fff;
}

.box {
	padding: 2rem;
	margin-bottom: 2rem;
	border: 1px solid var(--timerColor);
	border-radius: 1rem;
	background-color: #fff2;
	box-shadow: 0 0 .5rem var(--timerColor), 0 0 2rem var(--timerColor);
}

.glyphicon {
	margin: 0 1rem;
	font-size: 5rem;
}

h1, h2, h3, .glyphicon {
	text-shadow: 0 0 .5rem var(--timerColor), 0 0 2rem var(--timerColor);
}

code {
	display: block;
	padding: 1rem;
	border: 1px solid rgba($codeBgColor, 0.5);
	border-radius: .5rem;
	margin-bottom: 1rem;
	background-color: rgba($codeBgColor, 0.2);
	box-shadow: 0 0 .5rem $codeBgColor inset, 0 0 2rem $codeBgColor inset;
}
